/**Here we have the reset code*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url("../images/sample_menu_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/**Here we have the header style*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #eee, rgba(0, 0, 0, 0.3));
}
header #logo {
  /* background-color: #17832281; */
}
header #logo img {
  height: 60px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-inline-end: 20px;
}
header nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/**Presentation section*/
#presentation {
  height: 63vh;
  background-image: url("../images/sample_key.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  padding-inline-start: 10%;
}
#presentation div {
  position: relative;
  top: 20px;
}
#presentation h2 {
  font-size: 2.8rem;
  margin-block-end: 2px;
}
#presentation span {
  font-size: 18px;
}
/**Second section styles*/
#section-2 {
  padding-block-start: 30px;
  padding-inline: 10%;
  background-color: #fff;
}
#section-2 #top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 30px;
}
#section-2 #top h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 530;
}
#section-2 .flex {
  display: flex;
  gap: 30px;
}
#section-2 .flex #description {
  font-size: 15px;
  font-weight: 250;
}
#section-2 .flex img {
  width: 425px;
  height: 425px;
}
