/**Here we have the reset code*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url("../images/sample_menu_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/**Here we have the header style*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #eee, rgba(0, 0, 0, 0.3));
}
header #logo {
  /* background-color: #17832281; */
}
header #logo img {
  height: 60px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-inline-end: 20px;
}
header nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/**Presentation section*/
#presentation {
  height: 63vh;
  background-image: url("../images/sample_key.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  padding-inline-start: 10%;
}
#presentation div {
  position: relative;
  top: 20px;
}
#presentation h2 {
  font-size: 2.8rem;
  margin-block-end: 2px;
}
#presentation span {
  font-size: 18px;
}
/**Second section styles*/
#section-2 {
  padding-block-start: 30px;
  padding-inline: 10%;
  background-color: #fff;
}
#section-2 #top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 30px;
}
#section-2 #top h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 530;
}
#section-2 .flex {
  display: flex;
  gap: 30px;
}
#section-2 .flex #description {
  font-size: 15px;
  font-weight: 250;
}
#section-2 .flex img {
  width: 425px;
  height: 425px;
}
#section-3 {
  padding-inline: 10%;
  padding-block-start: 40px;
}
#section-3 h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: 530;
  margin-block-end: 40px;
}
#section-3 .title h3 {
  text-decoration: underline;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
#section-3 > div {
  margin-block: 67px;
}
section .content {
  display: flex;
  gap: 20px;
}
.content > div {
  display: flex;
  gap: 0;
}
.content > div img {
  width: 500px;
  height: 300px;
}
.content > div .description {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  padding: 20px;
}
.content > div .description h4 {
  width: 100%;
  text-align: left;
  font-size: 18px;
}
.content > div .description .price {
  width: 100%;
  text-align: right;
  font-size: 20px;
  font-weight: 300;
}
.subsection-2 .content {
  display: flex;
  background-color: #fff;
  padding: 20px;
}
.subsection-2 .content .bloc {
  display: flex;
  margin-bottom: 20px;
}
.subsection-2 .content > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.subsection-2 .content .bloc img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.subsection-2 .content .bloc > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-inline-start: 20px;
}
.subsection-2 .content .bloc h4 {
  font-size: 17px;
}
.subsection-2 .content .bloc .price {
  width: 100%;
  text-align: left;
  font-size: 20px;
  opacity: 0.7;
}
