/**Here we have the reset code*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**Here we have the header style*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #eee, rgba(0, 0, 0, 0.5));
}
header #logo {
  /* background-color: #17832281; */
}
header #logo img {
  height: 60px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-inline-end: 20px;
}
header nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
